# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


